<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <%= image_tag  @photo.image.url if @photo.image_stored? %>
</p>

<%= link_to 'Редактировать', edit_photo_path(@photo) %>
|
<%= link_to 'Удалить', @photo, method: :delete, data: { confirm: 'Вы уверены?' } %>
